Repository junaidharipur/ui-library-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

fix: remove not found import
  src/index.ts
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: aaded default values in stories
  src/components/Avatars/Avatars.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
  src/components/Dropdowns/Dropdowns.stories.tsx
  src/components/Dropdowns/Dropdowns.tsx
  src/components/Inputs/Inputs.stories.tsx
  src/components/Inputs/Inputs.tsx
  src/components/Notification/__snapshots__/Notification.spec.tsx.snap
  src/components/Popovers/Popovers.stories.tsx
  src/components/Tooltips/Tooltips.stories.tsx
  src/components/Tooltips/Tooltips.tsx
  src/index.ts
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

refactor: rename undefined value type from string to undefined
  src/components/Alert/Alert.stories.tsx
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Calendar/Calendar.stories.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Modal/ConfirmationModal.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Notification/Notification.stories.tsx
  src/components/Toggle/Toggle.stories.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: formatted code
  src/components/Tooltips/Tooltips.stories.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: formatted code
  src/components/Button/Button.stories.tsx
  src/components/Inputs/Inputs.stories.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: bug fixes
  src/components/Dropdowns/Dropdowns.stories.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

fix: make calendar component pixel perfect
  .eslintrc
  src/components/Calendar/Calendar.tsx
  src/styles/calendar.css
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: bugs fixe and code formated
  src/components/Avatars/Avatars.stories.tsx
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
  src/components/Dropdowns/Dropdowns.stories.tsx
  src/components/Inputs/Inputs.spec.tsx
  src/components/Inputs/Inputs.stories.tsx
  src/components/Inputs/Inputs.tsx
  src/components/Notification/__snapshots__/Notification.spec.tsx.snap
  src/components/Popovers/Popovers.stories.tsx
  src/components/Tooltips/Tooltips.stories.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: bugs fixe and code formated
  src/components/Popovers/Popovers.tsx
  src/components/Tooltips/Tooltips.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: bugs fixe and code formated
  src/components/Avatars/Avatars.tsx
  src/components/Dropdowns/Dropdowns.tsx
  src/components/Inputs/Inputs.stories.tsx
  src/components/Inputs/Inputs.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

refactor: small structural changes
  .huskyrc
  src/components/Avatars/Avatars.tsx
  src/components/Dropdowns/Dropdowns.tsx
  src/components/Popovers/Popovers.tsx
  src/components/Tooltips/Tooltips.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

style: update calendar months view styles
  src/styles/calendar.css
Due: none

Notes added by 'git notes add'
  f620be01dc3ee1b99c82e8c544e8c8a19c1dc909
Due: none

chore: update version to v1.3.0
  package.json
Due: prettier --write

feat: change readme.md
  README.md
Due: none

Notes added by 'git notes add'
  239874c6678e5cf5f71e52044b531afc2e4790af
Due: none

feat: expose Typography utils in package/Typography instead of package root
  src/components/Typography/Typography.tsx
  src/components/Typography/Utils.tsx
  src/components/Typography/index.ts
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Notes added by 'git notes add'
  2d5a402fe87ba86dc77c247ac883081e668be016
Due: none

feat: include "use client" directive for nextjs
  package.json
  scripts/post-build.sh
Due: prettier --write

fix: add scripts to prettierignore
  .prettierignore
Due: none

fix: make prettier version constant
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3a4afc0ce1622ea8fd80c54603317029fa3fe04d
Due: none

feat: tweak styling and webpack configurations to remove some nextjs warnings
  .storybook/preview.ts
  package.json
  scripts/post-build.sh
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
  src/styles/index.css
  src/styles/storybook.css
  webpack.config.js
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Notes added by 'git notes add'
  ac2710410d13744d09b191dcc078cec40d77556c
Due: none

feat: extend avatar component
  src/components/Avatars/Avatars.stories.tsx
  src/components/Avatars/Avatars.tsx
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
  src/components/icons/AvatarIcons.tsx
  src/components/icons/AvatarOnline.tsx
  yarn.lock
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Notes added by 'git notes add'
  13818323f05c8ee8ea46df7250709bc6f74a61f4
Due: none

feat: don't add styles in transpiled bundle
  src/index.ts
  src/styles/index.css
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Notes added by 'git notes add'
  3035d69255101b8d14c21b4fe0441cfaad3c94c1
Due: none

build: transpile postcss styles to the separate file
  .eslintrc
  package.json
  src/index.ts
  src/styles/index.css
  webpack.config.js
  yarn.lock
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: add commit lint to eslintignore rules
  .eslintrc
Due: none

Notes added by 'git notes add'
  5dc4e00070ff461cb4676ead9cac389e4a2ee3c2
Due: none

style: fix button group color
  src/components/ButtonGroup/ButtonChild.tsx
  src/components/ButtonGroup/ButtonGroup.stories.tsx
  src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

feat: update tabs api
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TitleRenderers.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

test: update test snapshots
  src/components/Tabs/__snapshots__/Tabs.spec.tsx.snap
Due: none

Notes added by 'git notes add'
  31567c703bd706dddebcac9b7f076642d8ecb82b
Due: none

feat: fix tabs component
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__snapshots__/Tabs.spec.tsx.snap
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Notes added by 'git notes add'
  7296d06e8349b22831d5ce985adfdbc795331e8c
Due: none

feat: update tabs component
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TitleRenderers.tsx
  src/components/Tabs/__snapshots__/Tabs.spec.tsx.snap
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Notes added by 'git notes add'
  c0eb5c023696ab5ab29b8ad42fe6e52291aa3582
Due: none

feat: extend input component
  src/components/Calendar/__snapshots__/Calendar.spec.tsx.snap
  src/components/Inputs/Inputs.tsx
Due: prettier --write, stylelint "**/*.css", eslint, jest --coverage --ci -u

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.json)
  stylelint "**/*.css": (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
  eslint: (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
  jest --coverage --ci -u: (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
